body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h3{
    font-size: 40px
}

.Colors{
    color: orange;
}

.flexible{
    display: flex;
    
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 100%;
    padding: 10%;
}

.Gradient{
    text-decoration: none;
    background-image: linear-gradient(blue,cyan);
    padding: 10px 40px;
    border-radius: 5%;
    font-weight: 700;
    color:white;
}

.section1BGI{
    background-image: url(Images/top-banner.png) ;
    background-repeat: no-repeat;
}